@use '../utils/mixin' as *;
@use '../main' as *;
.loading-screen {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9999;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding-left: 3vw;
  padding-bottom: 2vw;
  @media all and (max-width: 1024px) {
    padding-bottom: 4vw;
  }
}

.loading-text {
  font-size: 11rem;
  color: #648197;
  font-family: 'Noto Serif TC';
  font-style: italic;
  @media all and (max-width: 1024px) {
    font-size: 4rem;
    //  font-style: initial;
  }

  span {
    font-size: 6vw;
    @media all and (max-width: 1024px) {
      font-size: 10vw;
    }
  }
}

.home-box {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 20;
  flex-direction: column;
  background-color: #ece8e8;

  .card1 {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
    background: white;
    z-index: 10;

    .fullscreen-mask {
      position: fixed;
      inset: 0;
      background: #ece8e8; // 跟背景色一樣，或改為黑色也可
      z-index: 999;
      pointer-events: none;
    }

    .gradient-overlay {
      position: absolute;
      inset: 0;
      opacity: 0;
      pointer-events: none;
      background: radial-gradient(
        circle at var(--x, 50%) var(--y, 50%),
        rgba(160, 196, 255, 0.5) 0%,
        rgba(255, 198, 255, 0.3) 40%,
        transparent 80%
      );
      will-change: transform;
      transition: background 0.2s ease;
      z-index: 1;
      clip-path: inset(40%);
    }

    @keyframes moveInCircle {
      0% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(180deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes moveVertical {
      0% {
        transform: translateY(-50%);
      }

      50% {
        transform: translateY(50%);
      }

      100% {
        transform: translateY(-50%);
      }
    }

    @keyframes moveHorizontal {
      0% {
        transform: translateX(-50%) translateY(-10%);
      }

      50% {
        transform: translateX(50%) translateY(10%);
      }

      100% {
        transform: translateX(-50%) translateY(-10%);
      }
    }

    .gradient-bg {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
      background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
      top: 0;
      left: 0;
      clip-path: inset(40%);
      will-change: transform;
      opacity: 0;
      svg {
        display: none;
      }

      .gradients-container {
        filter: url(#goo) blur(40px);
        width: 100%;
        height: 100%;
      }

      .g1 {
        position: absolute;
        background: radial-gradient(
            circle at center,
            rgba(var(--color1), 0.8) 0,
            rgba(var(--color1), 0) 50%
          )
          no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: center center;
        animation: moveVertical 20s ease infinite;

        opacity: 1;
      }

      .g2 {
        position: absolute;
        background: radial-gradient(
            circle at center,
            rgba(var(--color2), 0.8) 0,
            rgba(var(--color2), 0) 50%
          )
          no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: calc(50% - 400px);
        animation: moveInCircle 10s reverse infinite;

        opacity: 1;
      }

      .g3 {
        position: absolute;
        background: radial-gradient(
            circle at center,
            rgba(var(--color3), 0.8) 0,
            rgba(var(--color3), 0) 50%
          )
          no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle-size) / 2 - 500px);

        transform-origin: calc(50% + 400px);
        animation: moveInCircle 30s linear infinite;

        opacity: 1;
      }

      .g4 {
        position: absolute;
        background: radial-gradient(
            circle at center,
            rgba(var(--color4), 0.8) 0,
            rgba(var(--color4), 0) 50%
          )
          no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 30s ease infinite;

        opacity: 0.7;
      }

      .g5 {
        position: absolute;
        background: radial-gradient(
            circle at center,
            rgba(var(--color5), 0.8) 0,
            rgba(var(--color5), 0) 50%
          )
          no-repeat;
        mix-blend-mode: var(--blending);

        width: calc(var(--circle-size) * 2);
        height: calc(var(--circle-size) * 2);
        top: calc(50% - var(--circle-size));
        left: calc(50% - var(--circle-size));

        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;

        opacity: 1;
      }

      .interactive {
        position: absolute;
        background: radial-gradient(
            circle at center,
            rgba(var(--color-interactive), 0.8) 0,
            rgba(var(--color-interactive), 0) 50%
          )
          no-repeat;
        mix-blend-mode: var(--blending);

        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;

        opacity: 0.7;
      }
    }

    .bg-box {
      width: 100%;
      height: 100svh;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        transform: translateY(-9vw);
      }
    }

    .hello {
      position: absolute;
      top: 10vw;
      scale: 0.8;
      left: 35vw;
      color: white;
      font-size: 10vw;
      color: #405260;
      font-family: 'Jost';
      z-index: 10;
      opacity: 0;
      @media all and (max-width: 1024px) {
        top: 55vw;
        left: 28vw;
        scale: 1;
        font-size: 15vw;
        color: white;
      }
    }

    .jshan {
      scale: 0.8;
      opacity: 0;
      position: absolute;
      right: 30vw;
      bottom: 13vw;
      color: white;
      font-weight: 500;
      font-size: 10vw;
      font-family: 'Dancing Script', cursive;
      // font-style: italic;
      z-index: 10;
      color: #405260;

      @media all and (max-width: 1024px) {
        right: 14vw;
        font-style: initial;
        font-family: 'Noto Serif TC';
        scale: 1;
        bottom: 60vw;
        color: white;
        font-size: 14vw;
      }
    }

    .small-title {
      position: absolute;
      left: 3vw;
      bottom: 3vw;
      color: white;
      font-size: 2vw;
      font-family: 'Cormorant Garamond', sans-serif;
      letter-spacing: 0.08rem;
      @media all and (max-width: 1024px) {
        font-size: 4.7vw;
        font-weight: bold;
      }
    }
  }

  .card2 {
    display: flex;
    width: 100%;
    height: 100svh;
    overflow: hidden;

    @media all and (max-width: 1024px) {
      height: auto;
    }

    .david-ogivy-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      padding-top: 7vw;
      padding-left: 9vw;
      padding-bottom: 7vw;

      @media all and (max-width: 1440px) {
        padding-top: 14vw;
      }

      @media all and (max-width: 1024px) {
        padding-top: 15vw;
        padding-left: 6vw;
        padding-right: 4vw;
        padding-bottom: 15vw;
      }

      .title-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vw;
        position: relative;

        @media all and (max-width: 1024px) {
          opacity: 1;
          flex-direction: column-reverse;
          justify-content: center;
          margin: 0 auto;
          width: 100%;
          text-align: center;
        }

        .en-title {
          font-size: 5vw;
          font-family: 'Cormorant Garamond';
          color: #232323;
          font-weight: bold;
          overflow: hidden;
          letter-spacing: 0.05em;
          position: relative;

          div {
            overflow: hidden;
          }

          @media all and (max-width: 1024px) {
            color: #232323;
            font-size: 7vw;
            margin-top: 1.5vw;

            &::after {
              position: absolute;
              content: '';
              left: 7vw;
              background-color: #232323;
              width: 16vw;
              top: 4vw;
              height: 1px;
              opacity: 0;
            }

            &::before {
              position: absolute;
              content: '';
              right: 7vw;
              background-color: #232323;
              width: 16vw;
              top: 4vw;
              height: 1px;
              opacity: 0;
            }
          }

          @media all and (max-width: 500px) {
            font-size: 7.5vw;
          }
        }
      }

      .bottom-content-box {
        display: flex;
        justify-content: space-between;
        width: 85%;
        position: relative;

        @media all and (max-width: 1024px) {
          flex-direction: column;
          margin-top: 2vw;
          width: 100%;
        }

        .left-box {
          font-family: '微軟正黑體';

          .black-box,
          .blue-box,
          .black2-box {
            font-size: 1.7vw;
            display: flex;
            position: relative;
            flex-direction: column;
            line-height: 2;

            @media all and (max-width: 1024px) {
              font-size: 3.75vw;
              text-align: center;
              line-height: 2.3;
            }

            // 統一 .clip-text 效果
            .clip-text {
              div {
                div {
                  clip-path: inset(100% 0% 0% 0%);
                }
              }
            }
          }

          .black-box {
            color: #648197;

            @media all and (max-width: 1024px) {
              color: #232323;
            }
          }

          .blue-box {
            position: absolute;
            top: 0;
            left: 0;
            color: #232323;

            @media all and (max-width: 1024px) {
              display: none;
            }
          }

          .black2-box {
            position: absolute;
            top: 0;
            left: 0;
            color: #232323;

            @media all and (max-width: 1024px) {
              display: none;
            }
          }

          .mobile-black-box {
            display: none;

            @media all and (max-width: 1024px) {
              display: flex;
              font-family: 'Cormorant Garamond';
              flex-direction: column;
              margin-top: 1.5vw;
              line-height: 1.5;
              color: #232323;
            }

            @media all and (max-width: 500px) {
              margin-top: 3vw;
            }
          }
        }

        .right-box {
          display: flex;

          @media all and (max-width: 1024px) {
            justify-content: center;
            margin-top: 8vw;
          }

          .more-box {
            z-index: 10;
            @include indexMore();
            cursor: pointer;
            display: flex;
            color: #232323;
            justify-content: left;
            position: absolute;
            bottom: 1vw;
            right: 0vw;

            @media all and (max-width: 1024px) {
              justify-content: center;
              position: initial;
              bottom: initial;
              right: initial;
              margin-top: 5vw;
            }

            div {
              display: flex;
              align-items: center;
            }

            img {
              width: 2vw;
              align-items: center;
              margin-left: 0.5vw;

              @media all and (max-width: 1024px) {
                width: 54px;
                margin-left: 3vw;
              }

              @media all and (max-width: 500px) {
                width: 6vw;
                min-width: 30px;
              }
            }
          }
        }
      }
    }
  }

  .card3 {
    display: flex;
    flex-direction: column;
    padding: 7vw 9vw;

    @media all and (max-width: 1024px) {
      padding: 7vw 7vw;
    }

    .title-box {
      display: flex;
      margin-bottom: 3vw;
      font-size: 7vw;

      @media all and (max-width: 1024px) {
        justify-content: center;
        margin-bottom: 7vw;
      }

      .en-title {
        font-size: 5vw;
        font-family: 'Cormorant Garamond';
        color: #232323;
        font-weight: bold;
        letter-spacing: 0.05em;

        @media all and (max-width: 1024px) {
          color: #232323;
          margin-right: 0vw;
          margin-top: 1.5vw;
          font-size: 7vw;
          position: relative;

          &::after {
            position: absolute;
            content: '';
            left: -21vw;
            background-color: #232323;
            width: 17vw;
            top: 4vw;
            height: 1px;
            opacity: 0;
          }

          &::before {
            position: absolute;
            content: '';
            right: -21vw;
            background-color: #232323;
            width: 17vw;
            top: 4vw;
            height: 1px;
            opacity: 0;
          }
        }

        @media all and (max-width: 500px) {
          font-size: 7.5vw;
        }
      }
    }

    .project-box {
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media all and (max-width: 1024px) {
        flex-direction: column;
      }

      .item {
        width: 22%;

        @media all and (max-width: 1024px) {
          width: 100%;
          margin-bottom: 15vw;
        }

        .img-box {
          display: flex;
          width: 100%;
          height: 20vw;

          @media all and (max-width: 1024px) {
            height: 81vw;
          }

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .name {
          font-size: 1vw;
          font-family: 'Noto Serif TC';
          letter-spacing: 0.3em;
          color: #232323;
          font-weight: 500;
          padding-top: 1vw;
          padding-left: 0.5vw;

          @media all and (max-width: 1024px) {
            font-size: 5.2vw;
            font-weight: bold;
            text-align: center;
            padding-top: 5vw;
          }
        }
      }
    }

    .more-box {
      z-index: 10;
      @include indexMore();
      cursor: pointer;
      display: flex;
      color: #232323;
      justify-content: right;
      margin-top: 4vw;

      @media all and (max-width: 1024px) {
        justify-content: center;
        margin-top: 0vw;
      }

      @media all and (max-width: 500px) {
      }

      div {
        display: flex;
        align-items: center;
      }

      img {
        width: 2vw;
        align-items: center;
        margin-left: 0.5vw;

        @media all and (max-width: 1024px) {
          width: 54px;
          margin-left: 3vw;
        }

        @media all and (max-width: 500px) {
          width: 6vw;
          min-width: 30px;
        }
      }
    }
  }

  .card4 {
    display: flex;
    width: 100%;
    padding-top: 15vw;
    padding-bottom: 15vw;
    justify-content: center;

    @media all and (max-width: 1024px) {
      padding-top: 25vw;
      padding-bottom: 25vw;
    }

    .marquee-container {
      overflow: hidden;
      transform-origin: center center;
      white-space: nowrap;
      width: 70%;
      height: 17vw; // 只顯示 top 跑馬燈的高度
      padding: 0 1vw;
      display: flex;
      flex-direction: column; // 上下排列
      align-items: flex-start;
      border-radius: 9999px;
      background-color: transparent;
      border: 2px solid #232323;
      position: relative;
      will-change: transform;

      @media all and (max-width: 1024px) {
        width: 77%;
      }

      .marquee {
        display: inline-block;
        font-family: 'Faculty Glyphic', sans-serif;
        animation: marquee 30s linear infinite;
        font-size: 142px;
        font-size: 7vw;
        font-weight: 300;
        height: 17vw;
        letter-spacing: 0.04em;
        will-change: transform;
        color: #232323;
        padding: 3.5vw 0;
        box-sizing: border-box;
        transition:
          margin-top 0.5s ease,
          opacity 0.5s ease; // 加在這裡
        white-space: nowrap;
      }

      .bottom {
        background-color: #577084;
        color: white;
        font-size: 7vw;
      }

      @keyframes marquee {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-50%);
        }
      }
    }

    .marquee-container:hover {
      .bottom {
        margin-top: 0vw;
      }

      .top {
        margin-top: -17vw;
      }
    }
  }
}
