.about-body {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 6vw 5vw;
  position: relative;
  flex-direction: column;
  @media all and (max-width: 1024px) {
    padding: 6vw 7vw;
    padding-bottom: 17vw;
  }
  .big-title {
    position: absolute;
    font-family: 'Faculty Glyphic', sans-serif;
    z-index: 30;
    font-size: 7vw;
    left: 36vw;
    top: 8vw;
    letter-spacing: 0.1em;

    @media all and (max-width: 1024px) {
      position: initial;
      left: initial;
      top: initial;
      margin-top: 8vw;
      margin-left: 5vw;
      font-size: 9.5vw;
    }
  }

  // height: 100svh;
  .top-box {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;

    @media all and (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    .left-box {
      position: relative;
      width: 35vw;
      margin-left: 4vw;
      @media all and (max-width: 1024px) {
        margin-left: 0vw;
        margin-top: 6vw;
        width: 100%;
      }
      .item {
        position: absolute;
        font-size: 12vw;
        font-family: 'Ruthie', cursive;
        left: -5vw;
        z-index: 10;
        transform: rotateZ(19deg);
        @media all and (max-width: 1024px) {
          font-size: 23vw;

          left: -2vw;
          top: -10vw;
        }
      }

      .img-box {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .right-box {
      display: flex;
      flex-direction: column;
      padding-top: 13vw;
      width: 50vw;
      font-family: '微軟正黑體';
      padding-left: 8vw;
      @media all and (max-width: 1024px) {
        padding-left: 3vw;
        padding-top: 10vw;
        padding-right: 3vw;
        width: 100%;
      }
      .name {
        width: 100%;
        font-size: 2vw;
        color: #577084;
        letter-spacing: 0.08em;
        margin-bottom: 0.5rem;
        @media all and (max-width: 1024px) {
          font-size: 5.5vw;
        }
      }

      .intro {
        font-size: 1vw;
        line-height: 2;
        margin-bottom: 2vw;
        color: #232323;
        letter-spacing: 0.08em;
        width: 81%;
        text-align: justify;
        @media all and (max-width: 1024px) {
          font-size: 3.75vw;
          width: 100%;
          margin-bottom: 6vw;
        }
      }

      .skills-box {
        .skills {
          width: 100%;
          font-size: 1.6vw;
          color: #232323;
          letter-spacing: 0.08em;
          margin-bottom: 0.5rem;
          font-weight: 500;
          @media all and (max-width: 1024px) {
            font-size: 4.5vw;
          }
        }

        p {
          font-size: 1.1rem;
          line-height: 1.6;
          color: #555;
        }

        ul {
          list-style-type: disc;

          li {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            color: #232323;
            @media all and (max-width: 1024px) {
              font-size: 3.9vw;
            }
          }
        }
      }

      .arrow {
        width: 10vw;
        display: flex;
        margin-left: 19vw;
        animation: floatUpDown 3s ease-in-out infinite;
        @media all and (max-width: 1024px) {
          display: none;
        }
      }

      @keyframes floatUpDown {
        0%,
        100% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(15px);
        }
      }
    }
  }

  .bottom-box {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 6vw;
    position: relative;
    @media all and (max-width: 1024px) {
      flex-direction: column;
    }
    .personal-statement {
      // display: flex;
      // justify-content: right;
      text-align: justify;
      padding-top: 1.5vw;
      line-height: 2.3;
      font-size: 1vw;
      margin-bottom: 2vw;
      color: #232323;
      font-family: '微軟正黑體';
      letter-spacing: 0.08em;
      width: 58%;
      margin-right: 5vw;
      span {
        color: cadetblue;
        font-family: 'noto sans tc';
        font-weight: bold;
      }
      @media all and (max-width: 1024px) {
        font-size: 3.75vw;
        width: 100%;
        margin-right: 0vw;
        margin-bottom: 6vw;
        margin-top: 5vw;
      }
    }

    .title {
      position: absolute;
      font-family: 'Faculty Glyphic', sans-serif;
      z-index: 30;
      font-size: 3.5vw;
      color: #232323;
      left: 4vw;
      top: 0vw;
      letter-spacing: 0.1em;
      @media all and (max-width: 1024px) {
        position: initial;
        left: initial;
        top: initial;
        margin-top: 8vw;
        margin-left: 0vw;
        font-size: 8.8vw;
      }
    }
  }

  .email-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8vw;
    color: #232323;

    .title {
      font-family: 'Faculty Glyphic', sans-serif;
      font-size: 2.5vw;
      letter-spacing: 0.1em;
      margin-bottom: 0.5vw;
      margin-left: 2vw;
      @media all and (max-width: 1024px) {
        margin-top: 8vw;
        margin-bottom: 2.5vw;
        font-size: 6vw;
      }
    }

    .email {
      font-family: 'Noto Sans TC';
      font-size: 1.2vw;
      letter-spacing: 0.08em;
      @media all and (max-width: 1024px) {
        font-family: 'Noto Sans TC';
        font-size: 3.9vw;
      }
    }
  }
}
